.row.height-100
  / Column for image side of login
  .col.s1.l4.height-100.valign-wrapper.green.lighten-2.hide-on-med-and-down
    .container
      .center-align
        = image_tag("icons.png", size: "400x400", :alt => "Image")
  / Column for right side of login
  .col.s12.m8.height-100
    .height-25.hide-on-med-and-down
    .col.s12.l5.offset-l3
      - if alert
        .alert-box.pa-4.dark
          = alert
      - if resource.errors.any?
        .alert-box.pa-4.dark
          = render "devise/shared/error_messages", resource: resource
      %h3
        Ikke mottatt e-post bekreftelse?
      %p
        Legg til e-post og vi sender deg link for å bekrefte din konto på nytt
    / Column for tabs and forms
    .col.m12.l5.offset-l3
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        .actions
          = f.submit "Send bekreftelse", class: "btn-flat white-text green lighten-2"
          = link_to "Tilbake", session_path(resource),
            class: "btn-flat white-text red lighten-2"

