%h1 Documents

- unless @documents.nil?
  - if @documents.is_a? Array
    - @documents.each do |document|
      = document.user.first_name
      = link_to 'Show', document_path(document.id)
  - else
    = @documents.user.first_name
    = link_to 'Show', document_path(@documents.id)
- else
  %p
    You have no documents yet!

= button_to 'Ny signering'

