.container-box
  .login-clip
  .box
    .row.valign-wrapper.height-100
      .col.s5.hide-on-med-and-down
        %a{href: "/"}
          = image_tag("undraw_steps_ngvm.svg", :alt => "Image", href: "/")
      .col.s12.l6
        - if alert
          .alert-box.pa-4
            = alert
        - if resource.errors.any?
          .alert-box.pa-4
            = render "devise/shared/error_messages", resource: resource
        %h3
          Registrer deg!
        %p
          Registrer deg nå for å få alt ut av Signlett.
          Du kan se egne signeringer og se signering andre har sendt til deg!
          / Column for tabs and forms
        .col.m12.l8
          %ul.tabs
            %li.tab
              %a{:href => "#login"}
                Logg inn
            %li.tab
              %a{:href => "#signup"}
                Registrer deg
            / Login form
          #login.section
            =form_tag session_path(:user) do
              .input-field
                %i.material-icons-two-tone.prefix email
                = text_field_tag 'user[email]', ""
                = label_tag :email, "E-post"
              .input-field
                %i.material-icons-two-tone.prefix vpn_key
                = password_field_tag 'user[password]', ""
                = label_tag :password, "Passord"
              %button.white-text.pa-5.primary-green.custom-btn.width-100.mt-4 Logg inn
              = link_to "Send ny bekreftelse",new_confirmation_path(resource_name), class: "v-spacer"
              = link_to "Glemt passordet?",new_password_path(resource_name)

            / Signup form
          #signup.section
            =form_tag registration_path(:user) do
              .input-field
                %i.material-icons-two-tone.prefix face
                = text_field_tag 'user[first_name]'
                = label_tag :first_name, "Fornavn"
              .input-field
                %i.material-icons-two-tone.prefix face
                = text_field_tag 'user[last_name]', ""
                = label_tag :last_name, "Etternavn"
              .input-field
                %i.material-icons-two-tone.prefix email
                = text_field_tag 'user[email]', ""
                = label_tag :email, "E-post"
              .input-field
                %i.material-icons-two-tone.prefix vpn_key
                = password_field_tag 'user[password]', ""
                = label_tag :password, "Passord"
              .input-field
                %i.material-icons-two-tone.prefix lock
                = password_field_tag 'user[password_confirmation]', ""
                = label_tag :password_confirmation, "Gjenta passord"
              %button.pa-5.primary-green.custom-btn.white-text.width-100.mt-4 Registrer deg

:javascript
    $(document).ready(function(){
      $('.tabs').tabs();
      $('.modal').modal();
    });

    function makeAlert() {
      document.getElementById('alert').style.backgroundColor="green"
      // setTimeout(() => {
      //   document.getElementById('alert').style.color="green"
      // }, 3000)
    }