.container-box
  .login-clip
  .box
    .row.valign-wrapper.height-100
      .col.s5.hide-on-med-and-down
        %a{href: "/"}
          = image_tag("undraw_steps_ngvm.svg", :alt => "Image", href: "/")
      .col.s12.l6
        - if alert
          .alert-box.pa-4
            = alert
        - if resource.errors.any?
          .alert-box.pa-4
            = render "devise/shared/error_messages", resource: resource
        %h3
          Registrer deg!
        %p
          Registrer deg nå for å få alt ut av Signlett.
          Du kan se egne signeringer og se signering andre har sendt til deg!
          / Column for tabs and forms
        .col.m12.l8
          %ul.tabs
            %li.tab
              %a{:href => "#login"}
                Logg inn
            %li.tab
              %a{:href => "#signup"}
                Registrer deg
            / Login form
          #login.section
            =form_tag session_path(:user) do
              = text_field_tag 'user[email]', "", placeholder: "E-post"
              = password_field_tag 'user[password]', "", placeholder: "Passord"
              %button.btn-flat.white-text.green.lighten-2.width-100.btn-large.mt-4 Logg inn
              = link_to "Send ny bekreftelse",new_confirmation_path(resource_name), class: "v-spacer"
              = link_to "Glemt passordet?",new_password_path(resource_name)

            / Signup form
          #signup.section
            =form_tag registration_path(:user) do
              = text_field_tag 'user[first_name]', "", placeholder: "Fornavn"
              = text_field_tag 'user[last_name]', "", placeholder: "Etternavn"
              = text_field_tag 'user[email]', "", placeholder: "E-post"
              = password_field_tag 'user[password]', "", placeholder: "Passord"
              = password_field_tag 'user[password_confirmation]', "", placeholder: "Bekreft passord"
              %button.btn-flat.white-text.green.lighten-2.width-100.btn-large.mt-4 Registrer deg

:javascript
    $(document).ready(function(){
      $('.tabs').tabs();
      $('.modal').modal();
    });

    function makeAlert() {
      document.getElementById('alert').style.backgroundColor="green"
      // setTimeout(() => {
      //   document.getElementById('alert').style.color="green"
      // }, 3000)
    }