!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Signlett
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900", :rel => "stylesheet"}/
    %link{:href => "https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css", :rel => "stylesheet"}/
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js", :type => "text/javascript"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}/
    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", :rel => "stylesheet"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp", :rel => "stylesheet"}/
  %body
    .topnav
      %a{href: "/", class: 'logo hide-on-med-and-down'}
        = image_tag "logo-blue-horizontal.svg"
      %a{href: "/", class: 'hide-on-med-and-up logo'}
        %span
          signlett
      - if current_user
        = link_to "Min side", new_document_path, class: 'hide-on-med-and-down custom-btn'
      - else
        = link_to "Logg inn", new_user_session_url, class:'hide-on-med-and-down custom-btn'
      = link_to "Om oss", '/about', class:'hide-on-med-and-down'
      %a.sidenav-trigger.hide-on-large-only{"data-target" => "expand", href: "#"}
        %i.material-icons-two-tone menu

    %ul.sidenav#expand.left
      %li
        %p.name signlett
        .divider
      %li
        = link_to new_user_session_url, class: "active" do
          %span Logg inn
          %i.material-icons-two-tone how_to_reg
      %li
        = link_to '/about', class: "active" do
          %span Om oss
          %i.material-icons-two-tone info
    = yield

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('.sidenav');
    let options = {edge: 'right'}
    let instances = M.Sidenav.init(elems, options)
  })

