!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Signlett
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'main'
  %body
    %header
      - if signed_in?
        = link_to 'Logg ut', destroy_user_session_path, method: :delete
        = link_to 'Rediger bruker', edit_user_registration_path
    .notice
      = notice
    .alert
      = alert
    = yield
    #vue-target
      %app

