!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Signlett
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'main'
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900", :rel => "stylesheet"}/
    %link{:href => "https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css", :rel => "stylesheet"}/
  %body
    %header
      - if signed_in?
        = link_to 'Logg ut', destroy_user_session_path, method: :delete
        = link_to 'Rediger bruker', edit_user_registration_path

    .vue-target
      - if signed_in?
        %app
      - else
        = yield
