!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Signlett
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900", :rel => "stylesheet"}/
    %link{:href => "https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css", :rel => "stylesheet"}/
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js", :type => "text/javascript"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}/
    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "", :rel => "stylesheet"}
  %body
    %nav
      .nav-wrapper.green.lighten-2
        %a.brand-logo.left.v-spacer{href: "/"}
          SiGNLETT
        %a.sidenav-trigger.right{"data-target" => "expand", href: "#"}
          %i.material-icons menu
        %ul.hide-on-med-and-down
          %li.right
            = link_to "Logg inn", new_user_session_url, class: "active"
          %li.right
            = link_to "Om oss", '/about', class: "active"

    %ul.sidenav#expand.left
      %li
        = link_to "Logg inn", new_user_session_url, class: "active"
      %li
        = link_to "Om oss", '/about', class: "active"
    = yield

:javascript
  $(document).ready(function(){
    $('.sidenav').sidenav({
      edge: 'right'
    });
  });
